.jumbotron {
  background-color: darkblue;
  background-image: url('https://cdn.pixabay.com/photo/2017/03/09/06/30/pool-2128578_1280.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #c3c3c3;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
